.main__page {
    display: grid;
    height: calc(110vh - 3rem);
    padding-top: 6rem;
    place-items: center;
    width: 100vw;
    opacity: 10;
    background-image: linear-gradient(90deg, #0c151a, rgba(0, 0, 0, .69)), url(https://images.unsplash.com/photo-1571902943202-507ec2618e8f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=775&q=80    );
}

.main__page h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main__page-container {
    height: 100%;
    display: grid;
    /* grid-template-columns: 1fr 1fr;
    justify-content: space-between; */
    gap: 10rem;
    align-items: center;
    width: 70%;

}

.main__page-left {
    margin-top: -3rem;
}

.main__page-left h4 {

    margin-bottom: 1rem;
    color: var(--color-secondary);
    font-weight: 400;

}


.main__page-left p {

    margin: 1rem 0 3.5rem;
    font-size: 1.1rem;

}

.main__page-right {
    display: grid;
    place-items: center;
    position: relative;


}


.main__page-circle {
    width: 25rem;
    height: 25rem;
    background: linear-gradient(#ffffff, transparent);
    border-radius: 50%;
    position: absolute;
    transition: var(--transition);
}

.main__page-image {
    position: relative;
    width: 25rem;
}

.main__page-right:hover .main__page-circle {
    filter: blur(10px);
}



/*======================= PROGRAMS ===========*/

.programs {
    margin-top: 5rem;
}

.section__head {
    display: grid;
    justify-content: center;
    font-size: 25px;
}

.section__head h2 {
    font-size: 50px;
}

.programs__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    margin-top: 4rem;
}

.programs__program a {
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.programs__program:hover {
    transform: scale(1.1);
    background: var(--color-gray-500);
    color: var(--color-gray-600);

}


/*======================= SLIDER===========*/


.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    list-style: none;
    margin-bottom: 8rem;

}

.carousel-indicators .active {
    opacity: 1;
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 100px;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: block;
}

.d-block img {
    width: 100%;

    height: 50%;
}

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    backface-visibility: hidden;
    transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
    margin-bottom: 6rem;

}


.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3E%3Cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3E%3C/svg%3E");
}


.carousel-control-next {
    right: 0;
    background-color: black;
}

.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;


}

.carousel-control-prev:hover {


    background-image: linear-gradient(to left, rgb(23, 18, 18), black);

}

.carousel-control-next:hover {

    background-image: linear-gradient(to right, rgb(40, 31, 31), black);

}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3E%3Cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.carousel {
    position: relative;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.carousel-caption {
    color: #fff;
    text-align: center;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 2.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
    font-size: 25px;
}

.carousel-caption button a {
    width: 100%;
    display: inline-block;
}

.carousel-caption button {
    width: 50%;
    height: 35px;
    font-weight: 100;
    font-size: 18px;
    transition: 250ms ease-in-out;
    border-radius: 20px;
    background-color: purple;
}

.carousel-caption button:hover {
    background-color: red;
    /* transform: translatey(-10px); */
    color: white;
}

.w-100 {
    width: 100% !important;
    height: 600px;
    padding-left: 7%;
    padding-right: 7%;
    /* padding-bottom: 10%;s */
}





/*======================= FAQs ===========*/

.faqs {
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.faqs__wrapper {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem 5rem;
    align-items: flex-start;
}

.faq {
    background: var(--color-gray-500);
    padding: 2rem;
    border-radius: 1rem;
    cursor: pointer;
}

.faq div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq__icon {
    background: transparent;
    color: var(--color-gray-100);
    font-size: 1.5rem
}

.faq__icon:hover {
    transform: scale(1.3);
}

.faq p {
    margin-top: 1.5rem;

}











/*======================= Footer ======================*/


footer {
    background: var(--color-gray-500);
    /* margin-top: 7rem; */
    padding-top: 7rem;
    font-size: 0.9rem;
    color: var(--color-gray-100);
}


.footer__container {
    display: grid;
    grid-template-columns: 26rem 1fr 1fr 1fr;
    gap: 6rem;
}

.footer__container article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.7rem;
}

.footer__container article p {
    margin-top: 0.5rem;
}

.footer__container article h4 {
    margin-bottom: 0.6rem;
    font-size: 1rem;
}

.footer__socials {
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;

}

.footer__socials a {
    background: var(--color-gray-100);
    padding: 0.7rem;
    border: 1px solid transparent;
    border-radius: 0.6rem;
    transition: var(--transition);
}

.footer__socials svg {
    color: var(--color-gray-600);

}

.footer__socials a:hover {
    border-color: var(--color-gray-100);
    background: transparent;
}


.footer__copyright {
    color: var(--color-gray-100);
    text-align: center;
    padding: 1.5rem 0;
    border-top: 2px solid var(--color-primary-variant);
    margin-top: 5rem;
}




/* MEDIA QUEARY */

@media screen and (max-width: 1024px) {

    /* Main page*/
    .main__page {
        height: fit-content;
        padding: 12rem 0;
        background-size: cover;
    }

    .main__page-container {
        gap: 0;
    }

    .main__page-circle {
        width: 16rem;
        height: 16rem;
    }

    /* .main__page {
      background-size: cover;
      background-repeat: no-repeat;
        background-image: linear-gradient(90deg, #0c151a, rgba(0, 0, 0, .69)), url(https://images.unsplash.com/photo-1571902943202-507ec2618e8f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=775&q=80);
    } */


    /* Programs */

    .programs__wrapper {
        grid-template-columns: 1fr 1fr;
    }



    /* FAQs */

    .faqs__wrapper {
        grid-template-columns: 1fr;
    }


    /* Footer */

    .footer__container {
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
    }

    .carousel-control-next,
    .carousel-control-prev {
        height: 400px;
        margin-top: 150px;
    }

    .carousel-caption h3 {
        font-size: 25px;
    }

    .carousel-caption p {
        font-size: 25px;
    }
    .w-100 {
        height: 400px;
      }

}



@media screen and (max-width: 600px) {

    /* Main page*/
    .main__page {
        margin-top: 0;
        padding: 12rem 0 0;
        height: 80vh;
        background-size: cover;

    }

    .carousel {
        padding-top: 50px;
    }

    .main__page-image,
    .main__page-circle {
        display: none;
    }

    .main__page-container {
        grid-template-columns: 1fr;
    }


    /* Programs */
    .programs__wrapper {
        grid-template-columns: 1fr;
        gap: 2rem;
        margin-top: 3rem;
    }

    .programs__program {
        width: 84%;
        margin: 0 auto;
    }




    /* FAQs */
    .faqs__wrapper {
        gap: 1rem;
        margin-top: 3rem;
    }



    /* Footer */
    footer {
        margin-top: 7rem;
    }

    .footer__container {
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .footer__container article {
        align-items: center;
    }

    .footer__container article p {

        text-align: center;
    }


    .carousel-caption h3 {
        font-size: 20px;
    }

    .carousel-caption p {
        font-size: 20px;
    }


}